* {
    box-sizing: border-box;
}

h1 {
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    margin: 0;
}

button {
    cursor: pointer;
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #3c4245;
    overflow-x: hidden;
}

#root {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #3c4245;
}
