@import url("https://fonts.googleapis.com/css2?family=Fira+Mono&display=swap");

:root {
    --color-grey: #eeeeee;
    --color-dark-grey: rgb(52, 58, 64);
    --color-dark-grey-opactiy: rgb(52, 58, 64, 0.7);
    --color-mid-grey: rgb(134, 142, 150);
    --color-ligth-grey: rgb(248, 249, 250);
    --color-white: rgb(255, 255, 255);
    --color-black: rgb(0, 0, 0);
    --color-green: rgb(18, 184, 134);
}
a {
    text-decoration: none;
    color: black;
}

button {
    cursor: pointer;
    border: 0;
    background-color: transparent;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

html,
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: var(--color-ligth-grey);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 1728px;
    height: 4rem;
}

/* header items - search, new post, thubnail, toggle menu */
.header__title {
    font-family: "Fira Mono", monospace;
    font-weight: bold;
    font-size: 1.4rem;
}

.header__items {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.header__item:not(:last-of-type) {
    margin-right: 1rem;
}

.header__item--btn-search {
    height: 2.5rem;
    width: 2.5rem;
    font-size: 1rem;
}

.header__item--btn-search:hover {
    border-radius: 50%;
    background-color: var(--color-grey);
}

.header__item--btn-new {
    height: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1rem;
    font-weight: bold;
    border: 1px solid var(--color-dark-grey);
    border-radius: 1rem;
    color: var(--color-dark-grey);
    background-color: var(--color-white);
}

.header__item--btn-new:hover {
    color: var(--color-white);
    background-color: var(--color-dark-grey);
}

.header__item-img img {
    display: block;
    height: 2.5rem;
    width: 2.5rem;
    box-shadow: rgb(0 0 0 / 9%) 0px 0px 8px;
    border-radius: 50%;
}

/* header items : toggle menu */
.header__menu--wrapper {
    position: absolute;
    top: 100%;
    right: 0px;
    margin-top: 1rem;
}

.header__menu {
    display: none;
}

.header__menu > a:first-child,
.header__menu > a:last-child {
    margin: 10px 15px;
}

.menu {
    margin: 15px;
}

.header__menu.active {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: var(--color-white);
    box-shadow: rgb(0 0 0 / 10%) 0px 0px 8px;
    width: 12rem;
    padding: 10px;
    z-index: 5;
}

/* section : nav */
.nav {
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__items {
    display: flex;
    align-items: center;
}

.nav__trending,
.nav__recent {
    width: 5.3rem;
    height: 2rem;
    font-size: 1.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-mid-grey);
    cursor: pointer;
    margin-right: 1rem;
    padding-bottom: 0.3rem;
}

.nav__trending.active,
.nav__recent.active {
    color: var(--color-black);
    border-bottom: 2px solid var(--color-black);
}

.nav__period {
    position: relative;
    z-index: 2;
}

.nav__period-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: auto 0.5rem;
    font-size: 0.85rem;
    height: 1.5rem;
    width: 80px;
    margin-bottom: 0.4rem;
    background-color: var(--color-white);
    box-shadow: rgb(0 0 0 / 10%) 0px 0px 8px;
    border-radius: 3px;
    cursor: pointer;
}

.nav__period-wrapper {
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 2;
    width: 150px;
    font-size: 0.85rem;
    visibility: hidden;
    background-color: var(--color-white);
}

.nav__period-wrapper.active {
    visibility: visible;
}

.period__item {
    padding: 12px 16px;
    border-bottom: 1px solid rgb(231, 231, 231);
}

.period__item:hover {
    background-color: var(--color-ligth-grey);
}

.period__item.selected {
    color: var(--color-green);
}

.nav__period-btn:hover {
    opacity: 0.7;
}

.nav__trending-icon,
.nav__recent-icon {
    padding-right: 0.5rem;
}

.nav__period-icon {
    margin: 0 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__options {
    color: var(--color-mid-grey);
}

.content {
    width: 1728px;
    margin: 0 auto;
}
/* main : posts */
.main {
    margin-top: 16px;
}

/* .posts {
    display: flex;
    flex-wrap: wrap;
    width: 1728px;
    margin: -16px;
} */

/* .post {
    width: 320px;
    background-color: var(--color-white);
    box-shadow: rgb(0 0 0 / 4%) 0px 4px 16px 0px;
    border-radius: 4px;
    margin: 16px;
    cursor: pointer;
    position: relative;
    transition: box-shadow 0.25s ease-in 0s, transform 0.25s ease-in 0s;
    z-index: 1;
} */

/* .post:hover {
    transform: translateY(-8px);
    box-shadow: rgb(0 0 0 / 8%) 0px 12px 20px 0px;
} */

.post__image-wrapper {
    position: relative;
    padding-top: 52.1921%;
    width: 100%;
}

.post__image {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 4px 4px 0 0;
}

.post__wrapper {
    display: flex;
    flex: 1 1 0%;
    flex-direction: column;
    padding: 1rem;
}

.post__title {
    font-size: 1rem;
    margin: 0px 0px 0.25rem;
    word-break: break-word;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.post__discription-wrapper {
    flex: 1 1 0%;
}

.post__discription-wrapper p {
    margin: 0px 0px 1.5rem;
    font-size: 0.875rem;
}

.post__info {
    font-size: 0.75rem;
    line-height: 1.5;
    color: var(--color-mid-grey);
}

.post__userInfo {
    display: flex;
    padding: 0.5rem 1rem;
    border-top: 2px solid var(--color-ligth-grey);
    position: relative;
}

.userInfo__thumbnail {
    display: block;
    height: 1.5rem;
    width: 1.5rem;
    box-shadow: rgb(0 0 0 / 9%) 0px 0px 8px;
    border-radius: 50%;
    margin-right: 0.5rem;
}

.userInfo__name {
    color: var(--color-mid-grey);
    font-size: 0.5rem;
    text-align: center;
    line-height: 2;
}

.userInfo__name b {
    color: var(--color-black);
    font-size: 0.7rem;
    font-weight: bolder;
}

.post__likes {
    font-size: 0.7rem;
    position: absolute;
    top: 0.7rem;
    right: 0.7rem;
}

/* Slider */
.posts__wrap {
    position: relative;
    width: 100%;
    margin: auto;
    padding-bottom: 30px;
}

.posts__box {
    width: 100%;
    margin: auto;
    overflow: hidden;
}

.posts {
    display: flex;
    flex-wrap: no-wrap;
    width: 3520px;
    margin: -16px;
}

.post {
    width: 320px;
    display: table;
    float: left;
    background-color: var(--color-white);
    box-shadow: rgb(0 0 0 / 4%) 0px 4px 16px 0px;
    border-radius: 4px;
    margin: 40px 16px;
    cursor: pointer;
}

.post:hover {
    transition: all 200ms ease-in;
    transform: scale(1.1);
    margin-left: 20px;
    margin-right: 20px;
    box-shadow: rgb(0 0 0 / 8%) 0px 12px 20px 0px;
}

.slide__btn_box > button {
    position: absolute;
    top: 100%;
    background-color: var(--color-white);
    color: var(--color-mid-grey);
    border-radius: 15px;
    padding: 10px;
}

.slide__btn_box > .slide__btn_prev {
    left: 0;
    color: var(--color-green);
}

.slide__btn_box > .slide__btn_prev:disabled {
    color: var(--color-mid-grey);
}

.slide__btn_box > .slide__btn_next {
    right: 0;
    color: var(--color-green);
}

.slide__btn_box > .slide__btn_next:disabled {
    color: var(--color-mid-grey);
}

/* Modal */
.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-dark-grey-opactiy);
    z-index: 10;
    visibility: hidden;
}

.modal.active {
    visibility: visible;
}

.post__modal {
    width: 320px;
    background-color: var(--color-white);
    border-radius: 4px;
    margin: 16px;
    cursor: pointer;
    position: relative;
    z-index: 15;
    opacity: 1;
}

.modal__close {
    position: absolute;
    font-size: 30px;
    top: 80%;
    cursor: pointer;
    z-index: 15;
}

.modal__close:hover {
    opacity: 0.7;
}

.modal__close i {
    color: var(--color-white);
}

@media (max-width: 1919px) {
    .header,
    .nav,
    .content,
    .main {
        width: 1376px;
    }
    .posts {
        width: calc(1376px + 2rem);
    }
}

@media (max-width: 1440px) {
    .header,
    .content,
    .nav,
    .main {
        width: 1024px;
    }
    .posts {
        width: 1056px;
    }
}

@media (max-width: 1054px) {
    .header,
    .content,
    .nav,
    .main {
        width: calc(100% - 2rem);
    }

    .posts {
        width: calc(100% + 4rem);
    }

    .post {
        width: calc(50% - 2.2rem);
    }
}

@media (max-width: 767px) {
    .header,
    .content,
    .nav,
    .main {
        width: calc(100% - 2rem);
    }

    .posts {
        width: calc(100% + 4rem);
    }
    .post {
        width: 100%;
    }
}

@media only screen and (max-width: 400px) {
    .header,
    .nav {
        max-width: 330px;
    }

    .header__item--btn-new {
        display: none;
    }

    .nav__trending,
    .nav__recent {
        width: 3.5rem;
        height: 1.8rem;
        font-size: 0.85rem;
        margin: 0 0.8rem;
    }

    .nav__trending-icon,
    .nav__clock {
        font-size: 0.9rem;
    }

    .nav__period {
        font-size: 0.5rem;
        height: 1.5rem;
    }

    .nav__arrow-dropdown {
        width: 0.5rem;
        padding: 0.3rem 0.5rem;
    }

    .post {
        width: 100%;
    }
}
